In [2]:
import pandas as pd
df = pd.read_csv("e_commerce.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Margin
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91,16.00
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58,30.00
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,6.87,47.00
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03,-40.00
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,2.52,11.25

In [4]:
from sqlalchemy import create_engine
import pandas as pd
engine =create_engine('postgresql+psycopg2://postgres:root123@localhost:5432/e_commerce_db')
df=pd.read_csv("e_commerce.csv")
df.to_sql('sales', engine, index=False, if_exists='replace')
print(" CSV data successfully uploaded to PostgreSQL!")

 CSV data successfully uploaded to PostgreSQL!

In [5]:
query="SELECT * FROM sales LIMIT 5"
pd.read_sql_query(query,engine)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Margin
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91,16.00
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58,30.00
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,6.87,47.00
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03,-40.00
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,2.52,11.25

In [14]:
query2 = """
SELECT "Region", SUM("Sales") AS total_sales
FROM sales
GROUP BY "Region"
ORDER BY total_sales DESC;
"""
region_sales = pd.read_sql(query2, con=engine)
region_sales

    Region  total_sales
0     West    725457.93
1     East    678781.36
2  Central    501239.88
3    South    391721.90

In [15]:
query3 = """
SELECT "Product Name", SUM("Profit") AS total_profit
FROM sales
GROUP BY "Product Name"
ORDER BY total_profit DESC
LIMIT 5;
"""
top_products = pd.read_sql(query3, con=engine)
top_products

                                        Product Name  total_profit
0              Canon imageCLASS 2200 Advanced Copier      25199.94
1  Fellowes PB500 Electric Punch Plastic Comb Bin...       7753.06
2               Hewlett Packard LaserJet 3310 Copier       6983.89
3                 Canon PC1060 Personal Laser Copier       4570.94
4  HP Designjet T520 Inkjet Large Format Printer ...       4094.98

In [16]:
query4 = """
SELECT "Category", SUM("Sales") AS total_sales, SUM("Profit") AS total_profit
FROM sales
GROUP BY "Category"
ORDER BY total_sales DESC;
"""
category_perf = pd.read_sql(query4, con=engine)
category_perf

          Category  total_sales  total_profit
0       Technology    836154.10     145455.66
1        Furniture    741999.98      18451.25
2  Office Supplies    719046.99     122490.88

In [17]:
query5 = """
SELECT "Sub-Category", 
       AVG("Discount") AS avg_discount
FROM sales
GROUP BY "Sub-Category"
ORDER BY avg_discount DESC;
"""
avg_discount = pd.read_sql(query5, con=engine)
avg_discount

   Sub-Category  avg_discount
0       Binders      0.372292
1      Machines      0.306087
2        Tables      0.261285
3     Bookcases      0.211140
4        Chairs      0.170178
5    Appliances      0.166524
6       Copiers      0.161765
7        Phones      0.154556
8   Furnishings      0.138349
9     Fasteners      0.082028
10    Envelopes      0.080315
11  Accessories      0.078452
12     Supplies      0.076842
13        Paper      0.074891
14          Art      0.074874
15      Storage      0.074704
16       Labels      0.068681

In [18]:
region_sales.to_csv("region_sales.csv",index=False)
top_products.to_csv("top_products.csv",index=False)
category_perf.to_csv("category_perf.csv",index=False)
avg_discount.to_csv("avg_discount.csv",index=False)